<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Directives</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
</head>
<body>
  <div data-ng-app="myApp" data-ng-init="quantity=5; price= 10">
    <p>Enter Quantity: <input type="text" data-ng-model="quantity"></p>
    <p>Price per Piece: {{price}}</p>
    <p>Total Price: {{quantity * price}}</p>
    <p>Repeating HTML Elements</p>
    <div data-ng-init="names=['hamza','ali','sehar']">
      <ul>
        <li data-ng-repeat="x in names">
          {{x}}
        </li>
      </ul>
    </div>
    <p>data-ng-repeat= Used on array of objects</p>
    <div data-ng-init="names2=[
    {name:'Jani',country:'Norway'},
    {name:'Hege',country:'Sweden'},
    {name:'Kai',country:'Denmark'}
    ]">
      <ul data-ng-repeat="x in names2">
        <li>{{x.name +', '+ x.country}}</li>
      </ul>
    </div>
  </div>
  <script src="myApp.js" charset="utf-8"></script>
  <script src="myCtrl.js" charset="utf-8"></script>
</body>
</html>
